.container {
    display: grid;
    font-size: 16px;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    height: auto;
    margin: 0.5% 0 0 0;
    right: 1%;
    border-radius: var(--border-radius-window);
    background-color: var(--main);
    position: fixed;
    z-index: 999999;
}

.year {
    display: grid;;
    grid-template-columns: repeat(3, 1fr);
    color: var(--text);
    text-align: center;
    align-items: center;
    padding: 5px;
}

.yearButton {
    display: grid;
    background-color: var(--text);
    color: var(--main);
    border-radius: var(--border-radius-button);
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.yearButton:hover {
    background-color: var(--active);
}

.month {
    color: var(--text);
}

.header {
    display: grid;
    grid-template-columns: repeat(7, minmax(25px, auto));
    height: 20%;
    font-size: 12px;
    color: var(--text);
    text-align: center;
    align-items: center;
    gap: 1%;
    position: relative;
    padding: 5%;
    justify-content: space-between;
    user-select: none;
}

.selectMonthHeader {
    justify-self: center;
    background-color: var(--text);
    border-radius: var(--border-radius-button);
    color: var(--main);
    width: 50%;
}

.selectMonthHeader:hover {
    background-color: var(--active);
}

.selectMonthHeaderActive {
    justify-self: center;
    border-radius: var(--border-radius-button);
    color: var(--main);
    width: 50%;
    background-color: var(--active);
}

.selectMonthContainer {
    display: grid;
    user-select: none;
    padding: 5% 5% 0;

}

.selectMonthMenu {
    background-color: var(--text);
    justify-self: center;
    margin: 20px;
    border-radius: 0 0 0 var(--border-radius-window);
    color: var(--main);
    width: 90px;
    position: fixed;
    z-index: 999999;
}

.selectMonthOption:hover {
    background-color: var(--active);
}

.body {
    display: grid;
    grid-template-columns: repeat(7, minmax(25px, auto));
    font-size: 15px;
    color: var(--text);
    text-align: center;
    align-items: center;
    grid-template-rows: 1fr;
    position: relative;
    padding: 0 10px ;
    gap: 1px 1px;
}

.day{
    border-radius:var(--border-radius-button);
    padding: var(--days-padding);
    cursor: pointer;

}

.day:hover{
    background-color: var(--active);
}


.activeDay{
    border-radius:var(--border-radius-button);
    padding: var(--days-padding);
    background-color: var(--selected);
    user-select: none;
}

.notCurrentDay{
    color: var(--noactive);
    padding: var(--days-padding);
    cursor: default;
}

