nav {
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    justify-self: start;
    width: 150px;
}

.link {
     text-decoration: none;
     color: var(--text);

 }

 .linksBlock {
    padding: 50%;
 }

.link:hover {
    color: var(--active);
}