
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-column-gap: 20px;*/
grid-column: 1 / 3;
    background-color: var(--main);

    align-items: center;
    justify-content: center;
    font-size: calc(4px + (1 + 2 * 0.7) * ((100vw - 320px)/1920));
    color: var(--text);
}

.calendar {
    display: grid;
    justify-self: end;
    margin: 5%;
    font-size: 18px;
}

.calendarButton {
    border-radius: var(--border-radius-button);
    background-color: var(--text);
    padding: 5px;
    color: var(--main);
    user-select: none;
}

.calendarButton:hover {
    background-color: var(--active);

}

.logo {
    display: grid;
    justify-items: start;
    padding: 0 0 5px 10px;
}