.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    /*grid-column-gap: 20px;*/

    background-color: #282c34;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(6px + (1 + 3 * 0.7) * ((100vw - 320px)/1920));
    color: white;
}