:root {
  --main: #282c34;
  --selected: #868D9A;
  --active: #669999;
  --noactive: #999999;
  --text: white;
  --border-radius-window: 5%;
  --border-radius-button: 5px;
  --days-padding: 15%;      /* убрать */
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


